body.direct .container_12{margin:0 auto;width:960px}
body.direct .alpha{margin-left:0 !important}
body.direct .omega{margin-right:0 !important}
body.direct .grid_1,
body.direct .grid_2,
body.direct .grid_3,
body.direct .grid_4,
body.direct .grid_5,
body.direct .grid_6,
body.direct .grid_7,
body.direct .grid_8,
body.direct .grid_9,
body.direct .grid_10,
body.direct .grid_11,
body.direct .grid_12{display:inline;float:left;position:relative;margin-left:10.0px;margin-right:10.0px}
body.direct .container_12 .grid_1{width:60px}
body.direct .container_12 .grid_2{width:140px}
body.direct .container_12 .grid_3{width:220px}
body.direct .container_12 .grid_4{width:300px}
body.direct .container_12 .grid_5{width:380px}
body.direct .container_12 .grid_6{width:460px}
body.direct .container_12 .grid_7{width:540px}
body.direct .container_12 .grid_8{width:620px}
body.direct .container_12 .grid_9{width:700px}
body.direct .container_12 .grid_10{width:780px}
body.direct .container_12 .grid_11{width:860px}
body.direct .container_12 .grid_12{width:940px}
body.direct .container_12 .prefix_1{padding-left:80px}
body.direct .container_12 .prefix_2{padding-left:160px}
body.direct .container_12 .prefix_3{padding-left:240px}
body.direct .container_12 .prefix_4{padding-left:320px}
body.direct .container_12 .prefix_5{padding-left:400px}
body.direct .container_12 .prefix_6{padding-left:480px}
body.direct .container_12 .prefix_7{padding-left:560px}
body.direct .container_12 .prefix_8{padding-left:640px}
body.direct .container_12 .prefix_9{padding-left:720px}
body.direct .container_12 .prefix_10{padding-left:800px}
body.direct .container_12 .prefix_11{padding-left:880px}
body.direct .container_12 .suffix_1{padding-right:80px}
body.direct .container_12 .suffix_2{padding-right:160px}
body.direct .container_12 .suffix_3{padding-right:240px}
body.direct .container_12 .suffix_4{padding-right:320px}
body.direct .container_12 .suffix_5{padding-right:400px}
body.direct .container_12 .suffix_6{padding-right:480px}
body.direct .container_12 .suffix_7{padding-right:560px}
body.direct .container_12 .suffix_8{padding-right:640px}
body.direct .container_12 .suffix_9{padding-right:720px}
body.direct .container_12 .suffix_10{padding-right:800px}
body.direct .container_12 .suffix_11{padding-right:880px}
body.direct .container_12 .push_1{left:80px}
body.direct .container_12 .push_2{left:160px}
body.direct .container_12 .push_3{left:240px}
body.direct .container_12 .push_4{left:320px}
body.direct .container_12 .push_5{left:400px}
body.direct .container_12 .push_6{left:480px}
body.direct .container_12 .push_7{left:560px}
body.direct .container_12 .push_8{left:640px}
body.direct .container_12 .push_9{left:720px}
body.direct .container_12 .push_10{left:800px}
body.direct .container_12 .push_11{left:880px}
body.direct .container_12 .pull_1{right:80px}
body.direct .container_12 .pull_2{right:160px}
body.direct .container_12 .pull_3{right:240px}
body.direct .container_12 .pull_4{right:320px}
body.direct .container_12 .pull_5{right:400px}
body.direct .container_12 .pull_6{right:480px}
body.direct .container_12 .pull_7{right:560px}
body.direct .container_12 .pull_8{right:640px}
body.direct .container_12 .pull_9{right:720px}
body.direct .container_12 .pull_10{right:800px}
body.direct .container_12 .pull_11{right:880px}